.container {
  margin: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  width: 150px; /* Статичні розміри полів */
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #fff;
}

/* Центрування кнопок у колонці Actions */
th.actions, td.actions {
  text-align: center;
  vertical-align: middle;
}

td.actions button {
  margin: 0 2px;
}

/* Стилі для кнопок */
button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Червона кнопка Cancel */
button.cancel-btn {
  background-color: #dc3545 !important;
  color: #fff !important;
}

button.cancel-btn:hover {
  background-color: #b52a37 !important;
}

input, select {
  width: calc(100% - 12px); /* Враховуємо padding */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

tr[dnd-draggable] {
  cursor: move;
}
